<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>app_gruppy</display-name>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Controlador_Principal</description>
    <display-name>ControllerMain</display-name>
    <servlet-name>ControllerMain</servlet-name>
    <servlet-class>controller.ControllerMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerMain</servlet-name>
    <url-pattern>/ControllerMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerProfile</display-name>
    <servlet-name>ControllerProfile</servlet-name>
    <servlet-class>controller.ControllerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerProfile</servlet-name>
    <url-pattern>/ControllerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerSocios</display-name>
    <servlet-name>ControllerSocios</servlet-name>
    <servlet-class>controller.ControllerSocios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSocios</servlet-name>
    <url-pattern>/ControllerSocios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerURL</display-name>
    <servlet-name>ControllerURL</servlet-name>
    <servlet-class>controller.ControllerURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerURL</servlet-name>
    <url-pattern>/ControllerURL</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterIURL</display-name>
    <filter-name>FilterIURL</filter-name>
    <filter-class>controller.FilterIURL</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterIURL</filter-name>
    <url-pattern>/FilterIURL</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>